.sectionOne-text-top {
    font-size: x-large;
    font-weight: bolder;
    line-height: 1.8;
    margin: 10px 0px;
    background: linear-gradient(45deg, #fffffe, #c7c7c7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .sectionOne-text-sec {
    font-size: large;
    background: linear-gradient(45deg, #fffffe, #210062);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .sectionOne-text {
    font-size: large;
    line-height: 1.5;
    margin: 25px 0px;
    background: linear-gradient(45deg, #fffffe, #dcdcdc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
  }
  
  .special-text {
    color: #12c720;
    font-weight: bold;
  }
  .review-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-div-number {
    font-size: 5rem;
    font-weight: 700;
}
.review-div-disc {
    font-size: xx-large;
}
.rating {
    display: flex;
    font-size: xx-large;
    color: goldenrod;
}
.review-div-text {
  width: 80%;
  margin: 10px auto;
  padding: 25px;
  box-shadow: 0px 20px 50px -5px #0000005c;
  border-radius: 9px;
  background: #171717;
}
.rating-text {
    line-height: 1.5;
    margin: 20px 0px;
}

  img.sectionOne-img {
    border-radius: 10px;
    box-shadow: 0px 20px 20px -5px #00000045;
    margin: auto;
    width: 100%;
  }
  
  .price-comp {
    width: 80%;
    margin: 40px auto;
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 50px -10px #0000004f;
    border-radius: 10px;
    background: #22212280;
}
.price-type {
    margin: 20px auto;
    font-weight: 900;
    font-size: larger;
    color: #d7d7d7;
}
.price-amount {
    font-size: xx-large;
    font-weight: bolder;
    color: #444242;
    margin: 10px auto;
}
.price-discretion {
    padding: 20px;
    line-height: 2;
}
button.win-big-btn {
  padding: 15px;
  background: none;
  border: 2px solid white;
  color: white;
  outline: none;
}